.App {
	background-color: rgb(47, 47, 47);
	color: white;
	text-align: center;
	height: 100vh;
	width: 100vw;
}
.toolbar {
	display: flex;
	justify-content: space-between;
}
.toolbar > img {
	max-height: 4rem;
}
