$lightBlue: #cdefff;
$textBlack: #272727;
$errorRed: #d32f2f;

.toolbar {
    display: flex;
    justify-content: space-between;
    background-color: $lightBlue;
    color: $textBlack;
    height: 3rem;
    .home {
        cursor: pointer;

        .logo {
            max-height: 3rem;
            padding-right: 1rem;
        }
        .discord-logo {
            max-height: 2rem;
            padding-left: 0.5rem;
        }
    }
    .circle {
        height: 3rem;
        width: 3rem;
        border-radius: 50%;
    }
    .link {
        margin-left: 1rem;
    }
    .add-button {
        margin-left: 1rem;
        background: #5865f2;
    }
}
.loading-screen,
.error-screen {
    height: 70vh;
    width: 100vw;

    a {
        color: $lightBlue;
        text-decoration: underline;
        padding-top: 1rem;
        font-size: 1.2rem;
    }
}
.container--signup {
    padding: 2rem;
    .container--input {
        width: 90vw;
        max-width: 20rem;
        height: 15rem;
        .username {
            margin-top: 1rem;
            *:not(.Mui-error) {
                color: white;
                fieldset:not(.Mui-error) {
                    border-color: white !important;
                }
            }
        }
        .error {
            margin-top: 0.5rem;
            color: $errorRed;
        }
    }
}
.workflow {
    padding: 5rem;
    * {
        max-width: 80vw;
    }
    .buttons {
        button {
            margin: 0 0.5rem;
        }
    }
    .secret {
        width: 80%;
        margin: 1rem;
        padding: 0.3rem 2rem;
        background-color: #383838;
        h3 {
            width: 40%;
            color: white;
            white-space: nowrap;
            text-align: left;
        }
        > div {
            width: 60%;
            * {
                color: white;
            }

            .secret-input {
                width: 90%;
                > div {
                    background: #484848;
                }
            }
        }
    }
    .highlighter {
        position: relative;
        .copy {
            position: absolute;
            top: 1.5rem;
            right: 1rem;
            color: white;
        }
    }
}
.config {
    width: 100%;
    position: relative;
    .reset {
        position: absolute;
        top: 1rem;
        right: 1rem;
    }
    .checkbox-container {
        margin: 5rem 1rem 1rem 1rem;
        padding: 1rem;
        width: 70%;
        min-height: 20rem;
        // background: #bac6cb;
        // background: $lightBlue;
        background-color: #bcdbd3;
        * {
            color: #262626;
        }
        button {
            color: white;
        }
        .configs {
            width: 95%;
            padding: 1rem;
            .config-option {
                width: 100%;
                margin: 0.5rem;
                > div > div {
                    margin: 0 0.3rem;
                }
            }
        }
    }
}
button.Mui-disabled {
    background-color: gray !important;
}
.help {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40rem;
    max-width: 90vw;

    .help-container {
        width: 100%;
        padding: 3rem 3rem;
        .title {
            width: 100%;
            text-align: left;
        }
        div {
            width: 100%;
            h3 {
                width: 30%;
            }
            p {
                width: 60%;
            }
        }
    }
}
.help-action {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 65rem;
    max-width: 90vw;
    height: 40rem;

    .help-container {
        width: 90%;
        height: 90%;
        padding: 3rem 3rem;
        overflow-y: scroll;
        .title {
            width: 100%;
            text-align: left;
        }
        .help-image {
            max-width: 100%;
            margin-bottom: 5rem;
        }
        div {
            width: 100%;
            h3 {
                width: 30%;
            }
            div {
                width: 60%;
                > p {
                    width: 100%;
                }
            }
            p {
                width: 60%;
            }
        }
    }
}
